<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page 2016</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">

    <!--SCRIPTS-->
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/vendors/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <header><h1>Thomas Hartle</h1></header>
    </div>

    <div class="container inline-block">
        <button class="btn">
            <a href="/assets/views/resume.html" style="color: #f14c1c;" >Click to view Resume</a>
        </button>
        <button class="btn">
            <a href="/assets/views/resume.html" style="color: #f14c1c;" >Click to download Resume</a>
        </button>


    </div>
    <div class="container inline-block center">
        <a><img src="/assets/styles/closeup_sm.jpg"></a>
    </div>
    <div class="container">
        <a href="http://tomhartle.blogspot.com/">Artists Blog</a></br>
        <a href="http://thomasehartle.com/">Artist Website</a></br>
        <a href="http://www.elefamilia.com/">Elefamilia</a></br>
        <a href="http://www.whenyourhandsaretied.org/">When Your Hands Are Tied</a>
    </div>




    <footer class="container inline-block">Web page designed by T Hartle Production</footer>


</body>
</html>